body{
    margin: 0;
    margin-top: 50px;
    padding: 0;
    background: #efefef;
    font-size: 16px;
    color: #777;
    font-family: sans-serif;
    font-weight: 300;
}
#login-box{
    position: relative;
    margin: 5% auto;
    height: 505px;
    width: 700px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0, 6);
}

.left-box{
    position:absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 1000px;
}

h1{
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}
input[type="text"],
input[type="alamat"]{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 15px;
    transition: 0,2s ease;
}
input[type="submit"]{
    
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: #f44336;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    transition: 0,2s ease;
    cursor: pointer;
    position: absolute;
    left: 50%;
    margin-left: 150px;
    margin-top: 20px;
}

input[type="submit"]:hover,
input[type="submit"]:focus{
    background: #ff5722;
    transition: 0,2 ease;
}
.right-box{
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 400px;
    height: 500px;
    background-image: url(1.jpg);
    background-size: cover;
    background-position: center;
}
.right-box .signinwith{
    display: block;
    margin-bottom: 20px;
    font-size: 24px;
    font-family: 'Gill Sans MT';
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px #000000;
    text-align: center;
    position: absolute;
    left: 20%;
    margin-top: 180px;
}
.tabel1 {
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #f2f5f7;
}
 
.tabel1 tr th{
    background: #35A9DB;
    color: #fff;
    font-weight: normal;
}
 
.tabel1, th, td {
    padding: 10px 20px;
    text-align: center;
}
 
.tabel1 tr:hover {
    background-color: #f5f5f5;
}
 
.tabel1 tr:nth-child(even) {
    background-color: #f2f2f2;
}